vision.json

{
  "name": "ODIN - 2. Vision Processing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odin-vision",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Manual Vision Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "// Merge both triggers into one flow\nconst source = $input.first().json;\nconst triggerType = source.path === 'odin-vision' ? 'manual' : 'scheduled';\nreturn [{ json: { triggerType, timestamp: new Date().toISOString(), screenshotFolder: 'Z:\\\\ODIN_PRO\\\\screenshot_current' } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Set Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "folderPath": "Z:\\ODIN_PRO\\screenshot_current",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "List Screenshots",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [560, 300]
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all();\nif (!files || files.length === 0) {\n  return [{ json: { hasFiles: false, message: 'No new screenshots found', fileCount: 0 } }];\n}\nconst imageFiles = files.filter(f => {\n  const name = (f.json.name || f.json.fileName || '').toLowerCase();\n  return name.endsWith('.png') || name.endsWith('.jpg') || name.endsWith('.jpeg');\n});\nif (imageFiles.length === 0) {\n  return [{ json: { hasFiles: false, message: 'No image files found', fileCount: 0 } }];\n}\nreturn imageFiles.map(f => ({ json: { hasFiles: true, fileName: f.json.name || f.json.fileName, filePath: `Z:\\\\ODIN_PRO\\\\screenshot_current\\\\${f.json.name || f.json.fileName}` } }));"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Filter Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-vision-001",
              "leftValue": "={{ $json.hasFiles }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Has Images?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "={{ $json.filePath }}",
        "options": { "encoding": "base64" }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Read Image as Base64",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1220, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.moonshot.cn/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "moonshot-v1-8k-vision-preview",
          "messages": [
            {
              "role": "system",
              "content": "You are ODIN's vision system. Analyze this screenshot and describe: 1) What application or window is open, 2) What the user appears to be working on, 3) Any important text or information visible, 4) Any errors or alerts visible. Be concise and factual."
            },
            {
              "role": "user",
              "content": [
                {
                  "type": "image_url",
                  "image_url": {
                    "url": "=data:image/png;base64,{{ $json.data }}"
                  }
                },
                {
                  "type": "text",
                  "text": "Analyze this screenshot for ODIN's awareness system."
                }
              ]
            }
          ],
          "max_tokens": 400,
          "temperature": 0.2
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Kimi Vision Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "jsCode": "const analysis = $input.first().json.choices?.[0]?.message?.content || 'No analysis returned';\nconst fileName = $('Filter Images').first().json.fileName;\nconst timestamp = new Date().toISOString();\n\n// Store in workflow static memory\nlet visionLog = [];\ntry {\n  const stored = $workflow.staticData['odin_vision_log'];\n  if (stored) visionLog = JSON.parse(stored);\n} catch(e) { visionLog = []; }\n\nvisionLog.push({ timestamp, fileName, analysis });\n\n// Keep last 20 vision entries\nif (visionLog.length > 20) visionLog = visionLog.slice(-20);\n\n// Every 5 entries, create a compressed visual summary\nlet visualContext = '';\nif (visionLog.length >= 5) {\n  const recent = visionLog.slice(-5).map(v => v.analysis).join(' | ');\n  visualContext = recent.substring(0, 500);\n}\n\n$workflow.staticData['odin_vision_log'] = JSON.stringify(visionLog);\nif (visualContext) $workflow.staticData['odin_visual_context'] = visualContext;\n\nreturn [{ json: { success: true, fileName, analysis, timestamp, totalEntries: visionLog.length } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Store Vision Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 200]
    },
    {
      "parameters": {
        "operation": "move",
        "sourcePath": "={{ $('Filter Images').first().json.filePath }}",
        "destinationPath": "=Z:\\ODIN_PRO\\screenshot_memory\\{{ $('Filter Images').first().json.fileName }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Move to Memory Folder",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1880, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"no_images\", \"message\": \"No screenshots to process\"}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000011",
      "name": "No Images Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1220, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000012",
      "name": "Vision Complete Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2100, 200]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[{ "node": "Set Context", "type": "main", "index": 0 }]]
    },
    "Manual Vision Trigger": {
      "main": [[{ "node": "Set Context", "type": "main", "index": 0 }]]
    },
    "Set Context": {
      "main": [[{ "node": "List Screenshots", "type": "main", "index": 0 }]]
    },
    "List Screenshots": {
      "main": [[{ "node": "Filter Images", "type": "main", "index": 0 }]]
    },
    "Filter Images": {
      "main": [[{ "node": "Has Images?", "type": "main", "index": 0 }]]
    },
    "Has Images?": {
      "main": [
        [{ "node": "Read Image as Base64", "type": "main", "index": 0 }],
        [{ "node": "No Images Response", "type": "main", "index": 0 }]
      ]
    },
    "Read Image as Base64": {
      "main": [[{ "node": "Kimi Vision Analysis", "type": "main", "index": 0 }]]
    },
    "Kimi Vision Analysis": {
      "main": [[{ "node": "Store Vision Memory", "type": "main", "index": 0 }]]
    },
    "Store Vision Memory": {
      "main": [[{ "node": "Move to Memory Folder", "type": "main", "index": 0 }]]
    },
    "Move to Memory Folder": {
      "main": [[{ "node": "Vision Complete Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}

