n8n/n8n.json
{
    "name": "ODIN Memory Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "odin-memory",
                "options": {
                    "rawBody": false
                }
            },
            "id": "node-webhook",
            "name": "Memory Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "webhookId": "odin-memory-hook"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.action }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "write",
                            "output": 0
                        },
                        {
                            "value2": "read",
                            "output": 1
                        },
                        {
                            "value2": "prune",
                            "output": 2
                        }
                    ]
                }
            },
            "id": "node-switch",
            "name": "Route Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst memPath = 'C:/AI/MyOdin/M1/memory_pro/data/odin_memory.json';\n\nconst dir = path.dirname(memPath);\nif (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\n\nlet memories = [];\ntry { memories = JSON.parse(fs.readFileSync(memPath, 'utf8')); } catch {}\n\nconst body = $input.first().json.body;\n\nmemories.push({\n  id: Date.now(),\n  tag: body.tag || 'general',\n  content: body.content,\n  timestamp: new Date().toISOString()\n});\n\nfs.writeFileSync(memPath, JSON.stringify(memories, null, 2));\n\nreturn [{ json: { status: 'saved', id: memories[memories.length-1].id, count: memories.length } }];"
            },
            "id": "node-write",
            "name": "Write Memory",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                160
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst memPath = 'C:/AI/MyOdin/M1/memory_pro/data/odin_memory.json';\n\nlet memories = [];\ntry { memories = JSON.parse(fs.readFileSync(memPath, 'utf8')); } catch {}\n\nconst body = $input.first().json.body;\nconst tag = body.tag || null;\nconst limit = body.limit || 20;\n\nconst results = tag\n  ? memories.filter(m => m.tag === tag)\n  : memories.slice(-limit);\n\nreturn [{ json: { memories: results, count: results.length } }];"
            },
            "id": "node-read",
            "name": "Read Memory",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst memPath = 'C:/AI/MyOdin/M1/memory_pro/data/odin_memory.json';\n\nconst body = $input.first().json.body;\nconst days = body.days || 7;\nconst cutoff = Date.now() - (days * 24 * 60 * 60 * 1000);\n\nlet memories = [];\ntry { memories = JSON.parse(fs.readFileSync(memPath, 'utf8')); } catch {}\n\nconst kept = memories.filter(m => new Date(m.timestamp).getTime() > cutoff);\nfs.writeFileSync(memPath, JSON.stringify(kept, null, 2));\n\nreturn [{ json: { status: 'pruned', removed: memories.length - kept.length, remaining: kept.length } }];"
            },
            "id": "node-prune",
            "name": "Prune Memory",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                440
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "node-respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                940,
                300
            ]
        }
    ],
    "connections": {
        "Memory Trigger": {
            "main": [
                [
                    {
                        "node": "Route Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Action": {
            "main": [
                [
                    {
                        "node": "Write Memory",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Read Memory",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prune Memory",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Write Memory": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Memory": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prune Memory": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "odin-memory-v1",
    "meta": {
        "instanceId": "odin-local"
    },
    "tags": []
}